	body{
    	font-family: Arial, Tahoma;
    	font-size: 24px;
	}
	#main{
	    width: 1020px;
	    height: 1200px;
	    padding: 0;
	    margin-left: auto;
	    margin-right: auto;
	}
	#head{
	    height: 100px;
	    background-color: #F5F5F5;
	    border: 1px solid #CDCDCD;
	    text-align: center;
	    color: red;
	    padding-top: 30px;
	    margin-bottom: 10px;
	}
	#temperature{
	    width: 330px;
	    min-height: 300px;
	    border: 1px solid #CDCDCD;
	    text-align: center;
	    float:left;
	    background-color: #F5F5F5;
	    margin-bottom: 10px;
	}
	#humidity{
	    width: 330px;
	    min-height: 300px;
	    border: 1px solid #CDCDCD;
	    text-align: center;
	    float:left;
	    background-color: #F5F5F5;
	    margin-left: 12px;
	    margin-right: 10px;
	    margin-bottom: 10px;
	}
	#windspeed{
	    width: 330px;
	    min-height: 300px;
	    border: 1px solid #CDCDCD;
	    text-align: center;
	    float:right;
	    background-color: #F5F5F5;
	    margin-bottom: 10px;
	}
	#w_status{
	    height: 100px;
	    border: 1px solid #CDCDCD;
	    text-align: center;
	    background-color: #F5F5F5;
	    clear: both;
		margin-bottom:10px;
	}
	.img{
		width: 200px;
		height: 200px;
	}
	#chart{
	    width: 800px;
	    min-height: 300px;
	    float: left;
	    border: 1px solid #CDCDCD;
	    background-color: #F5F5F5;
	}
	.img1{
		width: 200px;
		height: 200px;
	}
	#button{
	    width: 210px;
	    height: 400px;
	    float: right;
	    border: 1px solid #CDCDCD;
	    background-color: #F5F5F5;
	}
    input[type="checkbox"]
	{
		position: relative;
		width: 60px;
		height: 30px;
		-webkit-appearance: none;
		outline: none;
		border-radius: 20px;
		transition: .5s;
		background: #c6c6c6;
	}
	input:checked[type=checkbox]
	{
		background: #03a9f4;
	}
	input[type="checkbox"]:before
	{
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		border-radius: 20px;
		top: 0;
		left: 0;
		transition: .5s;
		background: #fff;
	}
	input:checked[type="checkbox"]:before
	{	
		left: 30px;
	}